body {
    background-image: url(../images/panorama01.jpeg);
    background-repeat: no-repeat;
    background-size: 1400px 1024px;
}

.bord {
    border: 1px solid black;
}

.shad {
    box-shadow: 5px 5px 25px black;
    margin-bottom: 40px;
}

#main-section {
    padding: 15px;
}

#edition-note {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 400px;
    /* gestion de couleur*/
    background-color: yellow;
    border-radius: 10px;
}

.note {
    width: 50px;
    margin-right: auto;
    text-align: left;
    min-height: 200px;
    min-width: 300px;
    /* gestion de couleur*/
    background-color: yellow;
    border-radius: 10px;
    display: inline-block;
    ;
}

.bandeau {
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    min-width: 1000px;
    min-height: 20px;
    /* gestion de couleur*/
    background-color: red;
    border-radius: 10px;
    /* display: inline-block; */
    ;
}

#liste-notes {
    background-color: rgba(128, 128, 128, 0.5);
}

table {
    text-align: center;
    width: 100%;
}

#js-loaded {
    text-align: center;
    background-color: turquoise;
    color: white;
    font-weight: 900;
    font-style: italic;
    text-decoration: yellowgreen;
}


/*
.close-container {
    border: 10px;
}*/